
/* Mobile First View */
* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin:  0;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: #85DCCB;
}

h1 {
	text-align: center;
	font-weight: bold;
	margin: 1.5em 1em 0em 1em;
}

.menu-items {
	width: 100%;
	padding: 1em;
}

.menu-items h2 {
	font-size: 125%;
	outline: 2px solid black;
	padding:  0.5em 1em;
	width: 200px;
	margin:  0 0 0.5em 0;
	text-align: center;
	/* display: inline-block; */
	position: absolute;
	top:0;
	right:0;
}

.menu-items div {
	width: 90%;
	border: 2px solid black;
	margin: 1em 1em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.menu-items p {
	padding: 4em 2em 2em 2em;
}


.items-chicken h2 {
	background-color: rgb(213,152,152);
	
}

.items-beef h2 {
	background-color: rgb(193,69,67);
	color: white;
	
}

.items-sushi h2 {
	background-color: rgb(229,209,152);
}

/* Desktop View */
@media (min-width: 992px){

	.menu-items div {
		float: left;
		width: 30%;
		margin: 25px;
	}

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {

	.menu-items div {
		float: left;
		width: 50%;
	}

	.menu-items .items-sushi{
		float: left;
		width: 100%;
	}
}